.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.idea/
TextTerminal.iml
gradle.properties
build.gradle
gradlew.bat
settings.gradle
gradle/
gradlew
RestfulAPIConnector/build
app/src/productionVersion/*
